{% load static %}

<div class="copyright">
    <p>&copy; Copyright {% now "Y" %}. All Rights Reserved.</p><br>
    <p><a href="mailto:hello@shredcrew.com">hello@shredcrew.com</a></p>
</div>

<div class="social">
    <a href="https://www.facebook.com" target="_blank">
        <img src="{% static 'images/facebook-logo.png' %}" alt="Facebook logo">
    </a>
    <a href="https://www.twitter.com" target="_blank">
        <img src="{% static 'images/twitter-logo.png' %}" alt="Twitter logo">
    </a>
</div>