{% load static %}
{% load active_link_tags %}

<!-- Navigation Bar -->
<nav class="navbar">
    <a class="navbar-brand" id="shred-logo" href="{% url 'home' %}">
      <img src="{% static 'images/shredcrew_logo.png' %}" width="100px" alt="Shred Crew logo">
    </a>

    <!-- Mobile Nav -->
    <nav class="mobile-nav">
        <div id="menu-links">
            <br>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'events' %}">Events</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'contact' %}">Contact</a>

            <br>
        </div>
        <a class="menu-icon" onclick="hamburger(); hide()">
            <div>&#9776;</div>
        </a>
    </nav>

    <!-- Tablet, Desktop Nav -->
    <nav class="tablet-desktop">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>

</nav>